*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: 0.4s linear;
}
html{
    text-transform: capitalize;
    font-family: sans-serif;
}
p{
    text-transform: none;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
header .fa-bars{
    display: none;
}
.logo{
    height: 80px;
    width: 90px;
    margin-top: 10px;
}
.navbar a{
    padding: 5px;
    color: #333;
    font-size: 15px;
    cursor: pointer;
}
.home{
    margin-top: 10px;
    height: 100vh;
    width: 100%;
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.home .content{
    text-align: center;
    padding-top: 400px;
}
.home .content h1{
    color: white;
    font-size: 2.8em;
    font-weight: lighter;
}
.home .content p{
    color: white;
    font-size: 1.5em;
    padding-top:20px;
    padding-bottom: 40px;
}
.btn1{
    color: white;
    background-color: rgb(208,179,0);
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
}
.home .content .btn2{
    color: rgb(208,179,0);
    border: 1px solid rgb(208,179,0);
    padding: 15px 25px;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
}
.about {
    padding: 50px 20%;
    background-color:  #fafbff;
}
.heading{
    font-size: 28px;
    color: rgb(2, 2, 77);
}
.about p{
    color: hsl(0, 0%, 47%);
    padding: 20px 0;
}
.about .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about .container .box{
    flex-basis: 32%;
    text-align: center;
    border: 0.01px solid #eee9e9;
    border-radius: 10px;
    padding:20px 15px;
    background-color: white;
    min-height: 300px;
}
.about .container .box h4{
    font-size: 20px;
    font-weight: lighter;
    padding-top: 10px;
}
.about .container .box p{
    line-height: 1.5;
}
.about .container .box b{
    color: black;
}
.menu {
    padding: 50px 20%;
    padding-bottom: 0;
}
.menu .menu-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu .menu-container .box img{
   height: 200px;
   border-radius: 10px;
}
.menu .menu-container .box{
    box-shadow:10px 10px 30px 10px #dfdede;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.menu .menu-container .box h4{
    padding-top: 15px;
    padding-bottom: 15PX;
    font-weight: lighter;
    font-size: 18px;
}
.menu .menu-container .box i{
    padding-left: 8px;
}
.menu .menu-container .box a{
    color: rgb(208,179,0);
    font-size: 15px;
}
.menu-description {
    padding:30px 20%;
    background-color: #fafbff;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.menu-description .menu-img img{
    width: 250px;
    margin-top: 50px;
}
.menu-description .menu-content{
    width: 50%;
}
.menu-description .menu-content p{
    color: hsl(0, 0%, 47%);
    padding: 20px 0;
    padding-bottom: 30px;
    line-height: 1.5;
}
.discount-description {
    padding: 10px 20%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.discount-description .discount-img img{
    width: 250px;
    margin-left: 100px;
}
.discount-description .discount-content{
    width: 60%;
}
.discount-description .discount-content p{
    color: hsl(0, 0%, 47%);
    padding: 10px 0;
    padding-bottom: 30px;
    line-height: 1.5;
}
.discount-description .discount-content .btn1{
    margin-bottom: 20px;
}
.image-container{
    width: 60%;
}
.image-container img{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-right: 20px;
}
.gift-img img{ 
    height: 300px;
    margin-left: 100px;
}
.gift-description{
    background-color: #faf7e4;
    padding: 60px 20%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.gift-description .gift-content p{
    color: hsl(0, 0%, 47%);
    padding: 10px 0;
    padding-bottom: 30px;
    line-height: 1.5;
}
.follow{
    text-align: center;
    margin: 20px auto;
    margin-bottom: 0;
}
.icons-content{
    margin: 50px auto;
}
.follow .icons i{
    padding: 20px;
    color:  rgb(208,179,0);
    background-color: #faf7e4;
    border-radius: 50%;
    font-size: 2.5em;
    margin: 20px 15px;
    cursor: pointer;
}
.footer{
    background-color: #0d2436;
    color: #8491A1;
    padding: 50px;
}
.footer img{
    height: 70px;
}
.footer .mail{
    padding: 15px;
    font-weight: bolder;
}
@media screen and (max-width: 770px){
    header{
        display: block;
    }
    header .fa-bars{
        display: flex;
        font-size: 2rem;
        margin-top: 35px;
        border: 1px solid black;
        height: 40px;
        width: 40px;
        padding-left: 5px;
        padding-top: 3px;
    } 
    header .menu-bar{
        display: flex;
        justify-content: space-around;
    }
    .navbar {
        display: none; 
        flex-direction: column; 
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 1000; 
    }
    .navbar.mobile-menu {
        display: flex; 
    }
    .navbar a {
        color: #333;
        font-size: 18px;
        text-align: center;
        width: 100%; 
        padding: 10px;
        margin: 20px 0;  
    }
    .home .content{
        text-align: center;
        padding-top: 240px;
    }
    .about {
        padding:30px 20px;
    }
    .about .container .box{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .menu {
        padding: 30px 20px;
    }
    .menu .menu-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu-description {
        padding:60px 20px;
    }
    .menu-description .menu-content{
        width: 100%;
    }
    .menu-description .menu-img img{
        margin-top: auto;
    }
    .discount-description {
        padding: 10px 20px;
    }
    .discount-description .discount-content{
        width: 100%;
    }
    .image-container{
        width: 100%;
    }
    .discount-description .discount-img img{
        margin-left: 25px;
        margin-top: 20px;
    }
    .gift-description{
        padding: 30px 20px;
    }
    .gift-img img{ 
        margin-left: 30px;
        margin-top: 30px;
    }
    .follow .icons i{
        padding: 15px;
        font-size: 2em;
    }
}